.display {
  background-color: black;
  color: white;
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 100px;
}

.displayNumber {
  padding: 20px;
  font-size: 2rem;
}